
.containerLanding {
  background: rgb(65, 65, 65);  
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.containerTitle{
  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Cambia a 'center' para centrar verticalmente */
  align-items: center; 
}
.containerTitle h1{ /* Cambia la dirección del flex a 'column' */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  color: rgb(247, 236, 166);
  font-size: 2rem;
  padding: 1rem;
}
.textHenry {
  padding: 0 2rem;
  font-size: 1.2rem;
  text-align: center; 
  text-justify: distribute-all-lines; 
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerVideo {
  width: 70%;
  min-height: 100vh;
}

.containerButton{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
.containerButton button{
  height: 7vh;
  width: 10rem;
  border: 2px solid rgb(247, 236, 166);
  border-radius: 10px;
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: transparent;
  color: rgb(247, 236, 166);
  color: rgb(247, 236, 166);
  transition: background-color 0.3s, color 0.3s; /* Agregado efecto de transición */
}

.containerButton button:hover {
  background-color: rgb(247, 236, 166);
  color: white;
}
.containerIcons{
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  width: 100%;  
  height: 20vh;
} 
.icono {
  width: 80px;
  height: 80px;
  transition: transform 0.3s, filter 0.3s; 
}

.icono:hover {
  transform: scale(1.2); 
}
