
.containerLanding {
  background: rgb(65, 65, 65);  
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.containerTitle{
  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}
.containerTitle h1{ 
  font-family: cursive;
  letter-spacing: 6px;
  color: rgb(247, 236, 166);
  font-size: 2rem;
  padding: 1rem;
}
.textHenry {
  padding: 0 2rem;
  font-size: 1.2rem;
  text-align: center; 
  text-justify: distribute-all-lines; 
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerVideo {
  width: 70%;
  min-height: 100vh;
}
.containerLogin{
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}   
.containerIcons{
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  width: 100%;  
  height: 20vh;
} 
.icono {
  width: 80px;
  height: 80px;
  transition: transform 0.3s, filter 0.3s; 
}

.icono:hover {
  transform: scale(1.2); 
}
