.containerHome{
    min-height: 100vh;
}
.containerTitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
.containerTitulo h1{
    margin: 0;
    font-size: 3rem;
    color: wheat;

}
.contaienerFiltros{
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}