.containerHome{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerTitulo{
    width: 100%;
    height: 10vh;
}
.containerTitulo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    font-size: 3rem;
    color: rgb(0, 0, 0);

}
.contaienerFiltros{
   width: 100%;
   height: 30vh;
   background-color: rgb(67, 65, 65);
}