.button1 {
    height: 6vh;
    width: 12rem;
}
.containerFiltersOrders{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
 align-items: center;
}
.containerBoxFilters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
width: 30%;
height: 20vh;
}
.containerSlect1{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.containerSlect2{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.containerClear {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}